<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        {%block title%}
    </head>
    <body>
        <h1>CRUD NOMINA</h1>
        {%block body%}

        {%endblock%}
    </body>
</html>
